<div id="<%= dom_id student %>">

  <div class="card">
  <h5 class="card-header">Student Details</h5>
  <div class="card-body">
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </div>
</div>